{% extends 'base.html' %}
{% load static %}

{% block title %} About Us | University Library {% endblock title %}

{% block content %}
<div class="body-container container">
    <h1>About us</h1>
    <p>This project was made as the final project of the Web Technology course (IS231) in Cairo University Faculty of Computers and Artificial Intelligence (Spring semester 2021).</p>
    <h2>Credits:</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">ID</th>
                <th scope="col">Group</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Kareem Mohamed Morsy</th>
                <td>20190386</th>
                <td>S17</th>
            </tr>
            <tr>
                <td>Elhussein Abd Alaziz Youssef</th>
                <td>20190106</th>
                <td>S17</th>
            </tr>
            <tr>
                <td>Peter Atef Nagiub</th>
                <td>20190140</th>
                <td>S18</th>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}