{% extends 'base.html' %}
{% load static %}

{% block title %} Home | Universty Library {% endblock title %}

{% block headscript %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock headscript %}

{% block content %}

    <section>
        <div class="main-image">
            <img src="{% static 'img/background.jpg' %}"/>
        </div>
    </section>

    <section class="bg-dark text-light">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg">
                    <h3>
                        Your online library
                    </h3>
                    <p>
                        Now you can browse our books and borrow it online. No need to borrow in person.
                    </p>
                </div>

                <div class="col-lg">
                    <h3>
                        The Vision of the Library
                    </h3>
                    <p>
                        FCAI-CU to be a leading institution of higher education and scientific research in the fields of computing, informatics and decision support at the regional and international levels.
                        With the help of the latest technologies, this online library will be a stepping stone for achiving this vision.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container py-5">
            <h2>
                Also Check
            </h2>
            <div class="row align-items-center suggestions">
                <div class="col">
                    <img src="{% static 'img/logo1.png' %}" class="circular-logo">
                </div>

                <div class="col">
                    <img src="{% static 'img/logo2.png' %}" class="circular-logo">
                </div>

                <div class="col">
                    <img src="{% static 'img/logo3.png' %}" class="circular-logo">
                </div>

                <div class="col">
                    <img src="{% static 'img/logo4.png' %}" class="circular-logo">
                </div>

                <div class="col">
                    <img src="{% static 'img/logo5.jpg' %}" class="circular-logo">
                </div>
            </div>
        </div>
    </section>

{% endblock %}