{% extends 'base.html' %}
{% load static %}

{% block title %} Books | University Library {% endblock title %}

{% block content %}

<div class="body-container container">
    <div class="row">
        {% for book in books %}
        <div class="col-sm m-2 card">
            <div class="card-body">
                <h1>{{ book.title }}</h1>
                <p>ISBN: {{ book.ISBN }}</p>
                <p>Author: {{ book.author }}</p>
                <p>Publish date: {{ book.publishDate }}</p>
                <a href=" {% url 'bookdetails' book_id=book.id %}"><button class="btn btn-primary mt-3 me-2" type="button">Select Book</button></a>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if user.is_superuser %}
        <a href="{% url 'addbook' %}" class="my-3 btn btn-success">
            Add Book
        </a>
    {% endif %}

</div>




{% endblock content %}