{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} | University Library {% endblock title %}

{% block headscript %}
<link rel="stylesheet" href='{% static "css/common.css" %}'>
{% endblock headscript %}

{% block content %}

<div class="flex-display">

    {% for book in books %}
    <div class="container py-5 book-card">
        <h1>{{ book.title }}</h1>
        <p>ISBN: {{ book.ISBN }}</p>
        <p>Author: {{ book.author }}</p>
        <p>Publish date: {{ book.publishDate }}</p>
        <a href=" {% url 'bookdetails' book_id=book.id %}"><button class="btn btn-primary mt-3 me-2" type="button">Select Book</button></a>
    </div>
    {% endfor %}


</div>




{% endblock content %}