{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} | University Library {% endblock title %}

{% block headscript %}
<link rel="stylesheet" href='{% static "css/common.css" %}'>
{% endblock headscript %}

{% block content %}
<div class="container py-5 body-container">
    <h1>{{ book.title }}</h1>
    <p>ISBN: {{ book.ISBN }}</p>
    <p>Author: {{ book.author }}</p>
    <p>Publish date: {{ book.publishDate }}</p>

    <button class="btn btn-primary mt-3 me-2" onclick="javascript:void(0)" type="button">Borrow</button>
    <button class="btn btn-success mt-3 me-2" onclick="javascript:void(0)" type="button">Return</button>
    <button class="btn btn-warning mt-3 me-2" onclick="javascript:void(0)" type="button">Extend period</button>
</div>
{% endblock content %}