{% extends 'base.html' %}
{% load static %}

{% block title %} {{ book.title }} | University Library {% endblock title %}

{% block headscript %}
<link rel="stylesheet" href='{% static "css/common.css" %}'>
{% endblock headscript %}

{% block content %}
<div class="container py-5 body-container">
    <h1>{{ book.title }}</h1>
    <p>ISBN: {{ book.ISBN }}</p>
    <p>Author: {{ book.author }}</p>
    <p>Publish date: {{ book.publishDate }}</p>
    
    {% if borrowed %}
        <p>Return date: {{ returnDate }}</p>
    {% endif %}

    {% if not borrowedByUser and borrowed %}
        
        <p>Booked by : {{ borrowedUser.username }}</p>
    {% endif %}



    {% if not borrowed %}
        <a href="{% url 'borrowbook' book_id=book.id %}">
            <button class="btn btn-primary mt-3 me-2" onclick="javascript:void(0)" type="button">
                Borrow
            </button>
        </a>
    {% endif %}

    {% if borrowedByUser %}
        <a href="{% url 'returnbook' %}">
            <button class="btn btn-success mt-3 me-2" onclick="javascript:void(0)" type="button">
                Return
            </button>
        </a>

        <a href="{% url 'extend' %}">
            <button class="btn btn-warning mt-3 me-2" onclick="javascript:void(0)" type="button">
                Extend return period for an extra 10 days
            </button>
        </a>
    {% endif %}

    

    {% if user.is_superuser %}
        <a href="{% url 'deletebook' book_id=book.id %}">
            <button class="btn btn-danger mt-3 me-2" onclick="javascript:void(0)" type="button">
                Delete
            </button>
        </a>

        <a href="{% url 'editbook' book_id=book.id %}">
            <button class="btn btn-info mt-3 me-2" onclick="javascript:void(0)" type="button">
                Edit
            </button>
        </a>
    {% endif %}

</div>
{% endblock content %}