.container{
    display: flex;
}

.center-container{
    text-align: center;
    margin: 2% auto;

}

.heading-2{
    margin: 1%;
    font-size: 4.5vh;
}

.heading-4{
    margin: 1%;
    font-size: 3.5vh;
}

.vl {
    border-left: 1px solid #bbb;
    margin: 2% 0;
    height: auto;
}

.circular-logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.contact-us-container{
    padding: 2%;
    width: 50%;
    margin: 5% auto;
    background: rgba( 0, 0, 0, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14.0px );
    -webkit-backdrop-filter: blur( 14.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #bbb;
}

.text-left{
    text-align: left;
}

.contact-us-item{
    font-size: 2.5vh;
    margin: 3%;
    width: fit-content;
    padding: 5%;
}

#contact-us-logo{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


