.submission-form{
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid #E74C3C;
    padding: 2rem;
    
}
.btn-signup{
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
