{% extends 'base.html' %}
{% load static %}

{% block title %} Profile | University Library {% endblock title %}

{% block headscript %}
<link rel="stylesheet" href='{% static "css/common.css" %}'>
{% load crispy_forms_tags %}
{% endblock headscript %}

{% block content %}

    <div class="container py-5 body-container">
        <div class="row">
            <div class="col-md">
                <h1>Welcome to your online library profile, {{user|title}}</h1>
            </div>
            <form class="col-md" method='POST'>
                {% csrf_token %}
                <h2 class="mb-3">Profile</h2>
                
                {{ form|crispy }}
        
                <button class="btn btn-dark mt-3" type="submit">Submit</button>

                {% url 'changepassword' as changepassword_url %}
                {% if request.get_full_path != changepassword_url %}
                    <div>
                        <a href="{% url 'changepassword' %}"> Change Password </a>
                    </div>
                {% endif %}
            </form>
            
        </div>
        <div>
            {% if user.is_superuser %}
                <ul>
                    {% for itr_user in users %}
                        <li>
                            <span>
                                {{ itr_user.username }}
                            </span>
                            <span>
                                <button onclick="changeAdminStatus('{{ itr_user.username }}');">
                                    {% if itr_user.is_superuser %}
                                        Remove Admin
                                    {% else %}
                                        Make Admin
                                    {% endif %}
                                </button>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block jsScripts %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock jsScripts %}