{% extends 'base.html' %}
{% load static %}

{% block title %} Sign in | Universty Library {% endblock title %}

{% block headscript %}
<link rel="stylesheet" href='{% static "css/signin.css" %}'>
{% endblock headscript %}

{% block content %}
<div class="container py-5 form-container">
    <div class="row">
        <div class="col-md">
            <h1>Welcome back to your online library</h1>
            <p>Please login to borrow and return your books.</p>
        </div>
        <form class="col-md" method='POST'>
            {% csrf_token %}
            <h2 class="mb-3">Login</h2>
            <div class="mb-3">
                <label for="name" class="form-label">Username</label>
                <input class="form-control" type="text" name="UserName" id="name" placeholder="Type your username" required>
            </div>
    
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Type your password" required>
            </div>
    
            <button class="btn btn-dark mt-3" onclick="javascript:void(0)" type="submit">Sign in</button>
        </form>
    </div>
</div>
{% endblock content %}